#gtco-offcanvas{
    background: rgba(0,0,0,.9); /*lightslategrey*/
    
}
#gtco-offcanvas ul li a{
    display: block;
    padding: 15px;
    border-bottom: 1px solid rgba(82,200,250,.1); /*blanchedalmond*/
    color:#52C8FA;  /*lightsteelblue, 52C8FA*/
}



/*COLORES DE LOS FONDOS DE LAS IMAGENES*/

		
#gtco-about .imagen-1{
    background:#52C8FA;
}

div.imagen-2{
    background:#FF6347;
}
div.imagen-3{
    background: #FF6347;
}


/*.---------------- ORDENANDO CÓDIGO POR SECCIONES --*/
/*------sección INICIO */
.incio {
    color:#52C8FA;  /*Color de la presentación*/
}

/*---------- fin ----------*/


/*------sección NOSOTROS */
/*---------- fin ----------*/


/*------seccion SERVICIOS */

#gtco-practice-areas{
    background: #52C8FA;
    color:black;
}
.iconos{
    /*color:darkslategrey*/
}
/*---------- fin ----------*/

/*------sección NUESTRO EQUIPO */
/*---------- fin ----------*/

/*------Seccion CONTACTOS*/

#gtco-contact{
    background: #52C8FA;
}
/*---------- fin ----------*/

/*------seccion FOOTER */
#gtco-footer{
    background: black;
    color:whitesmoke;
}
/*---------- fin ----------*/